<h1>Add Delishishness</h1>
	<div class="recipe-fields">
		<%= form_for @recipe do |f| %>
			<%= f.label "Title" %>
			<%= f.text_field :title %>
			<%= f.label "Description" %>
			<%= f.text_area :description %><br>
			<%= f.submit %>
		<% end %>
	</div>




<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>