<div id="container">
	<div id="recipe-container">
		<h2><%= @recipe.title %></h2><br>
	</div>
	<% if @recipe.user == current_user %>
		<%= link_to 'Edit Recipe', edit_recipe_path(@recipe), :class => 'btn btn-warning' %>
		<% end %>

		<div id="recipe-description-container">
			<h4>Description:</h4>
			<%= @recipe.description %>
		</div>

		<div id="recipe-ingredients-container">
			<h4>Ingredients :</h4>


			<% @recipe.recipe_ingredients.each do |ri| %>
				<%= ri.measurement %>
				<%= ri.ingredient.try(:name) %><br>
			<% end %>
		</div>

	<div class="comments">
			<h4>Comments: </h4>
		<% @recipe.comments.each do |comment| %>

		<div class="comment-user">
			<h5><%= comment.user.email %></h5>
		</div>

		<div class="comment-body">
			<%= comment.body %><br>
		</div>		<% end %>






		<div class="comment">
			<p>Add Comment</p>
			<%= simple_form_for [@recipe, @comment] do |c|  %>
				<%= c.input :body, :label => false, :as => :text, :input_html => { :rows => 3 }  %>
			<div class="button-div">
				<%= c.submit 'Add Comment', :class => "add-comment btn btn-info" %>
			</div>
			<% end %>
		</div>
	</div>
</div>

