<div class="navbar-inner">
	<a class="brand" href="<%= root_path %>" class="home">Home</a>
	<ul class="nav">
		<li class="active">
			<%= link_to 'Add Recipe', new_recipe_path %>
		</li>
		<% unless signed_in? %>
			<li class="active">
				<%= link_to 'Sign Up', new_user_registration_path %>
			</li>
			<% end %>
		<% if signed_in? %>
			<li class="active">
				<%= link_to 'My Recipes', user_recipes_path(current_user) %>
			</li>
			<li class="active">
				<%= link_to 'All Recipes', recipes_path %>
			</li>
		<% end %>
	</ul>
	<%= search_form_for search, :class => "nav navbar-search pull-right input-append search-querie"  do |f| %>
		<%= f.text_field :title_cont, { :id => 'search-field'} %> 
		<%= f.submit :Search, :class => 'btn btn-danger' %>
	<% end %>
</div>