<% if user_signed_in? %>
<p class="show-user-email">Hello!<br> 
<%= current_user.email %><br>
</p>
 <%= button_to "Sign out", destroy_user_session_path, :method => :delete, :class => "btn btn-danger" %>
<% end %>

<% unless user_signed_in? %>
  <%= simple_form_for "user", :url => user_session_path do |f| %>
    <%= f.input :email, placeholder: 'Email' %>
    <%= f.input :password, placeholder: 'Password' %>
    <%= f.check_box :remember_me %>
    <%= f.submit 'Log In', id: 'Log In', :class => "btn btn-warning", :method => :post %>
  <% end %>
<% end %>
<%= link_to "Sign up", new_user_registration_path %>




